<template>
  <v-form v-model="valid" ref="form" @submit.prevent="submit">
    <v-container>
      <v-flex xs12 md12>
        <h1
          class="display-2 font-weight-bold mb-3"
        >Convert some text to speech, then checkout it's waveform.</h1>
      </v-flex>
      <v-layout>
        <v-flex xs12 md12>
          <v-text-field v-model="someText" :counter="100" label="Some text" required></v-text-field>
        </v-flex>
      </v-layout>
      <v-btn color="success" type="submit" :loading="status === 'pending'">Process the Text!</v-btn>
      <!-- <div class="todo-item" v-for="item in words" v-bind:key="item.id">
        <div>{{item.headword}}: {{item.part_of_speech}}</div>
      </div>-->
      <!-- <div>status: {{this.status}}</div> -->
      <div v-if="status != 'pending'">
        <div v-if="tts_response && tts_response.params">
          <div>{{tts_response.status}}: {{tts_response.params.Text}}</div>
        </div>
        <div v-if="tts_response && tts_response.image_url">
          <v-container fluid>
            <v-layout justify-space-around>
              <v-flex xs5>
                <div class="title mb-1">{{tts_response.image_text}}</div>
                <v-layout column>
                  <v-img :src="tts_response.image_url" aspect-ratio="2"></v-img>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-container>
        </div>
      </div>
    </v-container>
  </v-form>
</template>

<script>
import { mapGetters } from "vuex";
// import WordService from "@/services/WordService";

TrackJS.track("Testing TrackJS in TTS");

export default {
  data: () => ({
    valid: false,
    someText: "",
    textRules: [
      v => !!v || "Some text is required",
      v => v.length >= 6 || "Some text must be at least 6 characters",
      v => v.length <= 100 || "Some text must be less than 100 characters"
    ],
    email: "",
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+/.test(v) || "E-mail must be valid"
    ]
  }),
  computed: {
    ...mapGetters(["status", "words", "tts_request", "tts_response"]),
    wordMeaning() {
      if (this.wordData) {
        return this.wordData.senses[0].definition;
      }
      return "";
    }
  },
  methods: {
    async submit(e) {
      if (e) {
        e.preventDefault();
      }
      const isValid = this.$refs.form.validate();
      // console.log("isValid: " + isValid);
      if (isValid) {
        // await this.$store.dispatch("LOAD_WORDS", this.someText);
        // this.someText = "";
        // await this.$store.dispatch("CONVERT_TEXT_TO_SPEECH", this.someText);
        await this.$store.dispatch("CONVERT_TEXT_TO_WAVEFORM", this.someText);
        this.someText = "";
      } else {
        await this.$store.commit("setStatus", "error");
      }
    }
  }
};
</script>

<style>
</style>
