<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>Techstars Studio</span>
        <span class="font-weight-light pl-3">Let's Build Some Cool Sh*t</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn flat href="https://gitlab.com/travisrussi/techstars" target="_blank">
        <span class="mr-2">Travis Russi</span>
      </v-btn>
    </v-toolbar>

    <v-content>
      <Tts/>
    </v-content>
  </v-app>
</template>

<script>
import Tts from "./components/Tts";

export default {
  name: "App",
  components: {
    Tts
  },
  data() {
    return {
      //
    };
  }
};
</script>
